streamlit
transformers
sentence-transformers
pymupdf
scikit-learn
faiss-cpu
numpy
pandas
tqdm
scipy
scikit-image
scikit-learn
scipy
matplotlib
Pillow
langchain
langchain-community
langchain-text-splitters
langchain-embeddings
langchain-vectorstores
langchain-retrievers
langchain-chroma
langchain-openai